.landing {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: silver;
}

@import '~bootstrap/dist/css/bootstrap.css';